# Файлы и папки операционной системы
.DS_Store
Thumbs.db
model.ndm2

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
upload/
mocks.json
test.http

# Папка с собранными файлами проекта
build/
