# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
upload/
mocks.json
mocks2.json
model.ndm2
fill-db2.sql
test.http

# Папка с собранными файлами проекта
build/
