each categoryItem of categories
  if categoryItem.count > 0
    li.themes__item
      a(class=`themes__item-link ${currentCategory.id === categoryItem.id ? 'themes__item-link--active' : ''}` href=`/articles/category/${categoryItem.id}`)
        | #{categoryItem.name}
        sup #{categoryItem.count}

