.search__result
  //- TODO - приделать время
  time.search__date(datetime=`${result.createdDate}`) #{result.createdDate}
  //- TODO - приделать ссылки
  //- TODO - научиться подсвечивать найденное слово
  a.search__link
    | #{result.title}
    b путешествия
    |  на смартфон Mate 30 Pro без сервисов
    |                 Google
