.search__result
  time.search__date(datetime='2019-03-21T20:33') #{article.time}
  a.search__link
    | Huawei открыла в России #{article.title}
    b путешествия
    |  на смартфон Mate 30 Pro без сервисов
    |                 Google
