.search__result
  time.search__date(datetime=`${result.createdAt}`) #{formatDate(result.createdAt)}
  //- TODO - приделать ссылки
  a.search__link(href=`/articles/${result.id}`)
    | #{result.title}
