.search__result
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString();
    }
  time.search__date(datetime=`${result.createdAt}`) #{formatDate(result.createdAt)}
  //- TODO - приделать ссылки
  //- TODO - научиться подсвечивать найденное слово
  a.search__link
    | #{result.title}
